body {
  background: linear-gradient(228deg,rgba(31,31,37,1) 0%,rgba(21,21,23,1) 100%);
  color: #fff;
}
.fs38 {
  font-size: 0.38rem;
}

.bg_linear_1 {
  background: linear-gradient(135deg,rgba(38,38,45,1) 0%,rgba(34,34,40,1) 100%);
}